<h1>Edit Collection</h1>

<form method="POST" action="/bottles/<%= @bottle.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <br>
  Wine Type:<input type="text" name="bottle[wine_type]" value="<%= @bottle.wine_type%>">
  <br>
  Vintage: <input type="text" name="bottle[vintage]" value="<%= @bottle.vintage%>">
  <br>
  Price: <input type="text" name="bottle[price]" value="<%= @bottle.price%>">
  <br>
  <input type="text" value="Edit">
</form>
