<h1>New Bottle?</h1>
<form method="POST" action="/bottles">
  <input type="text" name="name" placeholder="Bottle Name">
  <br>
    <label for="grape">Grape:</label>

    <select id="grape" name="grape">
      <option value="Albariño">Albariño</option>
      <option value="Aligoté">Aligoté</option>
      <option value="Amarone">Amarone</option>
      <option value="Arneis">Arneis</option>
      <option value="Asti Spumante">Asti Spumante</option>
      <option value="Auslese">Auslese</option>
      <option value="Banylus">Banylus</option>
      <option value=""></option>
    </select>
  <br>
  <label for="style">Style:</label>

  <select id="style" name="style">
    <option value="Red">Red</option>
    <option value="White">White</option>
  </select>
  <br>
  <input type="text" name="vintage" placeholder="Vintage">
  <br>
  <input type="text" name="price" placeholder="Price">
  <br>
  <input type="submit" value="Add To Collection">
</form>
