<h1>New Bottle?</h1>
<form method="POST" action="/bottles">
  <input type="text" name="name" placeholder="Bottle Name">
  <br>
  <input type="text" name="grape" placeholder="Grape">
  <br>
  <input type="text" name="style" placeholder="Red or White">
  <br>
  <input type="text" name="vintage" placeholder="Vintage">
  <br>
  <input type="text" name="price" placeholder="Price">
  <br>
  <input type="submit" value="Add To Collection">
</form>
