<h1>Increase Collection?</h1>

<form method="POST" action="/bottles">
  <input type="text" name="wine_type" placeholder="Wine Type">
  <input type="text" name="vintage" placeholder="Vintage">
  <input type="text" name="price" placeholder="Price">
  <input type="submit" value="Add To Collection">

  
</form>
