<h1>Newly Added</h1>

Wine Type: <%= @bottle.wine_type %>
<br>
Vintage: <%= @bottle.vintage %>
<br>
Price: <%= @bottle.price %>
<br><br>
<% if logged_in? %>
<a href="/">Home</a> |
<a href="/users/collection">My collection</a> |
<a href="/logout">Logout</a>
<br><br>
<a href="/bottles/new">Add Bottle To Collection</a> |
<a href="#">Edit Collection</a> |
<a href="#">Delete From Collection</a>
<br><br><br><br>
<a href="#"><b>Delete Account</b></a>
<% end %>

