<h1>Here's all your bottles</h1>

Oldest Bottle - <%= current_user.bottles.first.name %>
<br>
Newest Bottle - <%= @current_user.bottles.last.name %>
<br><br>
<% current_user.bottles.each do |bottle| %>
<a href="/bottles/<%= bottle.id %>"><%= bottle.name %></a>
<% end %>
