<h1>Don't have an account?  Let's create one.</h1>
<br>
<form method="POST" action="/users">
  <input type="text" name="username" placeholder="Enter Username">
  <input type="text" name="email" placeholder="Enter Email">
  <input type="text" name="password" placeholder="Enter Password">
  <input type="submit" value="Create Account">
  <br><br>
  <a href="/">Home</a>
</form>


