<header>Create Account</header>
<body>
  <div class="topnav">
    <div class="dropdown">
    <button class="dropbtn">Create an Account</button>
    <div class="dropdown-content">
      <a href="/">Login</a>
      <a href="/bottles">Bottle Index</a>
    </div> 
  </div>


    <div class="login-container">
      <form action="/users" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
