<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Template Default Page</h2>

    <div class="content">
    <% if !logged_in? %>
      <p>Not logged in?  Please log in or create an account.</p>
    <% else %>
      <p>Hello, You are logged in.</p>
    <% end %>
    </div>

    <div class="sidebar">
      <h3>Menu</h3>
      <ul>
        <% if !logged_in? %>
          <li><b><a href="/users/create_account">Create Account</a></b></li>
          <li><b><a href="#">Log In</a></b></li>
          <li><b><a href="#">Empty Links</a></b></li>
        <% else %>
           <li><b><a href="#">Empty</a></b></li>
           <li><b><a href="#">Empty</a></b></li>
           <li><b><a href="#">Log Out</a></b></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
